this will be my home page where each student and teacher will be routed to.
i will have it nice hahahha
<nav>
    <a href="/admins/index">Admin Login</a>
</nav>

<div class="row">
    <div class="col s6">
        <a href="/admins/index">
            <%= image_tag("cheerful")   %>
        </a>
    </div>
    <div class="col s6">
        <a href="/students/index">
            <%= image_tag("smiles") %>
        </a>
    </div>
</div>