
<nav>
    <a href="/admins/index">Admin Login</a>
</nav>

<div class="row">
    <div class="col s5">
        <h1>Teacher Path</h1>
        <a href="/teachers/index">
            <%= image_tag 'cheerful', style: "height: 300px; width: 500px;"  %>
        </a>
    </div>
    <div class="col s5">
        <h1>Student Path</h1>
        <a href="/students/index">
            <%= image_tag 'smiles', style: "height: 300px; width: 500px;" %>
        </a>
    </div>
</div>

